<div class="container-fluid">
    <div class="row my-3">
        <div class="col-md-3">
            OG Musterstadt
        </div>
        <div class="col-md-9">
            <span>Datenschutz</span>
            <span>Administration</span>
        </div>
    </div>
</div>
