<div class="container-fluid fixed-bottom">
    <div class="row my-3">
        <div class="col-md-3">
            OG Musterstadt
        </div>
        <div class="col-md-9">
            <ul class="nav justify-content-end">
                <NavLink class="nav-link" href="/Administration" Match="NavLinkMatch.Prefix">
                    Administration
                </NavLink>
                <li class="nav-item disabled">
                    Datenschutz
                </li>
            </ul>
        </div>
    </div>
</div>
