@using Wasserwacht.DigitalGuardBook.Common.Logic.Services
@inject StationService StationService

<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://www.wawawue.de/wp-content/uploads/logo/wasserwacht-logo.svg" alt="Logo Wasserwacht Bayern" class="d-inline-block align-top">
            @station?.Name
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <NavMenu />
        </div>
        <div class="navbar-text">
            <span class="fw-bold">@DateTime.Now.ToString("T")</span>
        </div>
    </div>
</nav>

@code {
    private Common.Data.Station station;

    protected override async Task OnInitializedAsync()
    {
        station = await StationService.GetStationAsync();
    }
}