<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://www.wawawue.de/wp-content/uploads/logo/wasserwacht-logo.svg" alt="Logo Wasserwacht Bayern" class="d-inline-block align-top">
            @station?.Name
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <NavMenu />
        </div>
        <div class="navbar-text px-2 mx-2" style="border-right: 1px solid #000;">
            <span class="fw-bold" id="clock">@DateTime.Now.ToString("dddd, dd.MMM.yyyy<br />T")</span>
        </div>
        <LoginDisplay></LoginDisplay>
    </div>
</nav>
