@using Wasserwacht.DigitalGuardBook.Common.Logic.Repositories
@inject StationRepository StationService

<div class="card">
    <div class="card-body">
        <h3 class="card-title">@station?.Name</h3>
        <div>@station?.Street</div>
        <div>@station?.ZipCode @station?.City</div>
        <br />
        <div>Telefon: @station?.PhoneNumber</div>
    </div>
</div>