@page "/"

<div class="container-fluid">
    <div class="row my-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5>Ereignisse</h5>
                    <p>Inhalt laut Epic</p>
                    <div>
                        <p class="btn btn-light">Alle Ereignisse anzeigen​</p>
                        <p class="btn btn-light">Wachdienst beenden​</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="8" cy="8" r="8" />
                    </svg>
                    Aktive Wachmannschaft

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Max Muster</h5>
                            <p class="btn btn-danger">FiE II</p>
                            <p class="btn btn-primary">WR</p>
                            <p class="btn btn-light">San</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    Wetter
                    <div><h2>XX C</h2></div>
                    <div>
                        <p>XX C  Niederschlag<br /> X C  Wind</p>
                    </div>
                    <p>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                        keine Unwetterwarnungen
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5>Zuständige Leitstelle</h5>
                    <p>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                        ILS Musterstadt
                    </p>
                    <p>Funkname: ILS Musterstadt<br />Tel. 0931 / 1234567 <br>Funkgruppe: RD_XX 1234</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p>Wachstation Badesee<br />12345 Ort<br />N 00.000000, E 0.000000<br>Tel. 09333 / 123456<br />Funkname: Wasserwachtstation Badesee</p>
                    <p>WLAN-SSID: Wachstation_HELFER<br />WLAN-PW: Helferundsoweiter​</p>
                    <p>Schleuse<br />Tel. 01234 / 1234567<br />Name TL Wachstation<br />Tel. 01234 / 1234567<br />Ansprechpartner Badesee<br />Tel. 01234 / 1234567</p>
                    <p>Rettungsmittelzufahrten​<br />Badesee Nord via Weg: roter Schlüssel​<br />Badesee Süd: blauer Schlüssel​</p>
                </div>
            </div>
        </div>
    </div>
</div>

