@page "/Administration/Organisation/{Id:guid}/Members"
@using Wasserwacht.DigitalGuardBook.Common.Ui.Areas.Common.Person

<NavMenu />

<h3>Mitglieder</h3>

<PersonList Persons="@persons"></PersonList>