@page "/Administration/Organisation"

<NavMenu />

<table>
    <thead>
        <tr>
            <th>Nummer</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1236</td>
            <td>OG Aub</td>
        </tr>
        <tr>
            <td>1236</td>
            <td>OG Rimpar</td>
        </tr>
        <tr>
            <td>1235</td>
            <td>OG Rottendorf</td>
        </tr>
        <tr>
            <td>1236</td>
            <td>OG Thüngersheim</td>
        </tr>
        <tr>
            <td>1234</td>
            <td>OG Würzburg</td>
        </tr>
    </tbody>
</table>