@page "/Administration/Organisation"
@attribute [Authorize(Policy = "Admin")]

<NavMenu />

<table class="table table-hoverable table-striped">
    <thead>
        <tr>
            <th scope="col">Nummer</th>
            <th scope="col">Name</th>
            <th scope="col">
                <button class="btn btn-primary" @onclick="OnAddClicked">Add</button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orga in organisations)
        {
            <tr>
                <td>@orga.Number</td>
                <td>@orga.Name</td>
                <td>
                    <button class="btn btn-primary" @onclick="@(e => OnEditClicked(orga.Id))">Edit</button>
                    <button class="btn btn-secondary" @onclick="@(e => OnMembersClicked(orga.Id))">Members</button>
                </td>
            </tr>
        }
    </tbody>
</table>